@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.text-dark-green {
  color: #253b33;
}

.bg-dark-green {
  background-color: #253B33;
}

.active{
  background: #ffffffaa;
  color: #253b33;
}
